<div class="text-center mt-10">
        <a href="/" class="pt-lg-10">
            <img alt="Logo" src="assets/media/logos/logo.svg" style="height: 230px;" class="mb-5" />
        </a>
        <div id='message-activating-conta' class="fw-bold fs-3 text-muted mb-15">Ativando conta...</div>
        <div id="spinner-overlay">
			<div class="spinner-border text-danger text-f05742" role="status">
				<span class="visually-hidden">Carregando...</span>
			</div>
		</div>
        <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto hidden-div" id='content-costumer-actived'>
            <div class="d-flex flex-column flex-column-fluid">
                <!--begin::Content-->
                <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
                    <!--begin::Wrapper-->
                    <div class="pt-lg-10 mb-10">
                        <!--begin::Logo-->
                        <h1 class="fw-bolder fs-2qx text-gray-800 mb-7">Conta Liberada!</h1>
                        <!--end::Logo-->
                        <!--begin::Message-->
                        <div class="fw-bold fs-3 text-muted mb-15">Sua conta foi ativada com sucesso e a partir de agora
                            você
                            consegue entrar em nossa plataforma e concluir o seu cadastro.</div>

                        <!--end::Message-->
                        <!--begin::Action-->
                        <div class="text-center">
                            <a id='button-sigin-acc-actived'
                                class="btn btn-primary btn-lg fw-bolder">ENTRAR</a>
                        </div>
                        <!--end::Action-->
                        <div id="message-direction-activating" class="fw-bold fs-3 text-muted mt-5 mb-15">Você será redirecionado em <span id="timer-activating-account"></span> segundos.</div>
                        <div class="fs-7 text-muted mb-15">Caso o redirecionamento automático não funcione, clique no botão acima para prosseguir.</div>
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Authentication - Password confirmation-->
        </div>
</div>

{{!-- <script src="/assets/js/auth/active-customer.js"></script> --}}
<script src="https://cdn.jsdelivr.net/gh/diegodq/app_clients@master/public/assets/js/auth/active-customer.min.js"></script>