<div class="d-flex flex-column flex-root">

 

    <div class="asideMenu">
      <div class="imgIconLockMenu">
        <img class="logo" src="/assets/media/logos/logo.png" height="50">
        <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
          <path fill-rule="evenodd"
            d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </div>

      {{!-- <span class="titleProduct ls-1">PESQUISA DE SATISFAÇÃO - NPS</span> --}}
      <span class="titleProduct ls-1">PESQUISA DE SATISFAÇÃO - NPS</span>

      <ul>
        <li id="subMenuRegister">
          <span class="leftMargin svg-icon svg-icon-muted svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path opacity="0.3"
                d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 13.5L12.5 13V10C12.5 9.4 12.6 9.5 12 9.5C11.4 9.5 11.5 9.4 11.5 10L11 13L8 13.5C7.4 13.5 7 13.4 7 14C7 14.6 7.4 14.5 8 14.5H11V18C11 18.6 11.4 19 12 19C12.6 19 12.5 18.6 12.5 18V14.5L16 14C16.6 14 17 14.6 17 14C17 13.4 16.6 13.5 16 13.5Z"
                fill="black" />
              <rect x="11" y="19" width="10" height="2" rx="1" transform="rotate(-90 11 19)" fill="black" />
              <rect x="7" y="13" width="10" height="2" rx="1" fill="black" />
              <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
            </svg>
          </span>
          <span class="titleLinks">CADASTROS</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </li>
        <div class="subLi" id="sub-menu-setData">
          <li class="subLIs" id="menu-aside-personalized-questions">
            <svg class="spacingLeft" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
            <span id="subLisMenu">Perguntas</span>
          </li>
          <li class="subLIs" id="menu-aside-departments">
            <svg class="spacingLeft" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
            <span id="subLisMenu">Departamentos</span>
          </li>
          <li class="subLIs" id="menu-aside-services">
            <svg class="spacingLeft" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
            <span id="subLisMenu">Tópicos Avaliáveis</span>
          </li>
          <li class="subLIs" id="menu-aside-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="spacingLeft bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
            <span id="subLisMenu">Ferramentas de Pesquisa</span>
          </li>
          <li class="subLIs"  id="menu-aside-stores" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="spacingLeft bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
            <span id="subLisMenu">Lojas / Unidades </span>
          </li>
        </div>
        <li id="menu-aside-manager-survey">
          <span class="leftMargin svg-icon svg-icon-muted svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
                fill="black" />
              <path opacity="0.3"
                d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
                fill="black" />
            </svg>
          </span>
          <span class="titleLinks ml-2">GESTÃO DE PESQUISA</span>
        </li>
        <li id="menu-aside-answered-survey">
          <span class="leftMargin svg-icon svg-icon-muted svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none">
              <path opacity="0.3"
                d="M17 10H11C10.4 10 10 9.6 10 9V8C10 7.4 10.4 7 11 7H17C17.6 7 18 7.4 18 8V9C18 9.6 17.6 10 17 10ZM22 4V3C22 2.4 21.6 2 21 2H11C10.4 2 10 2.4 10 3V4C10 4.6 10.4 5 11 5H21C21.6 5 22 4.6 22 4ZM22 15V14C22 13.4 21.6 13 21 13H11C10.4 13 10 13.4 10 14V15C10 15.6 10.4 16 11 16H21C21.6 16 22 15.6 22 15ZM18 20V19C18 18.4 17.6 18 17 18H11C10.4 18 10 18.4 10 19V20C10 20.6 10.4 21 11 21H17C17.6 21 18 20.6 18 20Z"
                fill="black" />
              <path
                d="M8 5C8 6.7 6.7 8 5 8C3.3 8 2 6.7 2 5C2 3.3 3.3 2 5 2C6.7 2 8 3.3 8 5ZM5 4C4.4 4 4 4.4 4 5C4 5.6 4.4 6 5 6C5.6 6 6 5.6 6 5C6 4.4 5.6 4 5 4ZM8 16C8 17.7 6.7 19 5 19C3.3 19 2 17.7 2 16C2 14.3 3.3 13 5 13C6.7 13 8 14.3 8 16ZM5 15C4.4 15 4 15.4 4 16C4 16.6 4.4 17 5 17C5.6 17 6 16.6 6 16C6 15.4 5.6 15 5 15Z"
                fill="black" />
            </svg></span>

          <span class="titleLinks">PESQUISAS RESPONDIDAS</span>
        </li>
        <li id="menu-aside-dashboard">
          <span class="leftMargin svg-icon svg-icon-muted svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none">
              <rect x="8" y="9" width="3" height="10" rx="1.5" fill="black" />
              <rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="black" />
              <rect x="18" y="11" width="3" height="8" rx="1.5" fill="black" />
              <rect x="3" y="13" width="3" height="6" rx="1.5" fill="black" />
            </svg></span>
          <span class="titleLinks">DASHBOARD</span>
        </li>
      </ul>
    </div>


    <script src="/assets/js/partials/asideMenu.js"></script>