<div class="d-flex flex-column flex-root">

	<div class="page d-flex flex-row flex-column-fluid">
		<!--begin::Aside-->
		<div id="moving-menu-aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true"
			data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}"
			data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}"
			data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">

			<!--begin::Brand-->
			<div class="aside-logo flex-column-auto" id="kt_aside_logo">
				<!--begin::Logo-->
				<a href="/">
					<img alt="Logo" src="assets/media/logos/logo.png" class="h-50px logo" />
				</a>
				<!--end::Logo-->
				<!--begin::Aside toggler-->
				<div class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle active" id="menu-icon-move"
					data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
					data-kt-toggle-name="aside-minimize">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
					<span class="svg-icon svg-icon-1 rotate-180">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path opacity="0.5"
								d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z"
								fill="black" />
							<path
								d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z"
								fill="black" />
						</svg>
					</span>
				</div>
			</div>
			<!--end::Brand-->

			<!--begin::Aside menu-->
			<div class="aside-menu flex-column-fluid" id="content-menu-mobile-aside">
				<!--begin::Aside Menu-->
				<div class="hover-scroll-overlay-y my-5 my-lg-5" id="menu-mobile-aside" data-kt-scroll="true"
					data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
					data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
					data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
					<!--begin::Menu-->
					<div class="menu menu-column menu-title-gray-200 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-200"
						id="#kt_aside_menu" data-kt-menu="true" data-kt-menu-expand="false">
						<div class="menu-item">
							<div class="menu-content pt-8 pb-2">
								<span class="menu-section text-muted text-uppercase fs-8 ls-1">Pesquisa
									Satisfação -
									NPS</span>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link" id="menu-link">
								<span class="menu-icon">
									<!--begin::Svg Icon | path: assets/media/icons/duotune/files/fil005.svg-->
									<span class="svg-icon svg-icon-muted svg-icon-2"><svg
											xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<path opacity="0.3"
												d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 13.5L12.5 13V10C12.5 9.4 12.6 9.5 12 9.5C11.4 9.5 11.5 9.4 11.5 10L11 13L8 13.5C7.4 13.5 7 13.4 7 14C7 14.6 7.4 14.5 8 14.5H11V18C11 18.6 11.4 19 12 19C12.6 19 12.5 18.6 12.5 18V14.5L16 14C16.6 14 17 14.6 17 14C17 13.4 16.6 13.5 16 13.5Z"
												fill="black" />
											<rect x="11" y="19" width="10" height="2" rx="1"
												transform="rotate(-90 11 19)" fill="black" />
											<rect x="7" y="13" width="10" height="2" rx="1" fill="black" />
											<path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
										</svg></span>
								</span>
								<!--end::Svg Icon-->
								<span class="menu-title" id="setData-title">CADASTROS</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion menu-active-bg" id="sub-menu-setData">
								<div class="menu-item">
									<a class="menu-link" id="menu-aside-personalized-questions">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Perguntas</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" id="menu-aside-departments">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Departamentos</span>
									</a>
								</div>
								<div class="menu-item" id="menu-aside-services">
									<a class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Tópicos Avaliáveis</span>
									</a>
								</div>
							</div>
							<div class="menu-item" id="menu-aside-manager-survey">
								<a class="menu-link"
									title="Gerencie a estratégia de apresentação da sua pesquisa ao seu cliente, definindo ordem, tipo de pergunta e etc."
									data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click"
									data-bs-placement="right">
									<span class="menu-icon">
										<!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen019.svg-->
										<span class="svg-icon svg-icon-muted svg-icon-2"><svg
												xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path
													d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
													fill="black" />
												<path opacity="0.3"
													d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</span>
									<span class="menu-title">GESTÃO DE PESQUISA</span>
								</a>
							</div>
							<div class="menu-item" id="menu-aside-answered-survey">
								<a class="menu-link"
									title="Acesse na íntegra todas as pesquisas respondidas pelo seu cliente."
									data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click"
									data-bs-placement="right">
									<span class="menu-icon">
										<!--begin::Svg Icon | path: assets/media/icons/duotune/text/txt009.svg-->
										<span class="svg-icon svg-icon-muted svg-icon-2"><svg
												xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.3"
													d="M17 10H11C10.4 10 10 9.6 10 9V8C10 7.4 10.4 7 11 7H17C17.6 7 18 7.4 18 8V9C18 9.6 17.6 10 17 10ZM22 4V3C22 2.4 21.6 2 21 2H11C10.4 2 10 2.4 10 3V4C10 4.6 10.4 5 11 5H21C21.6 5 22 4.6 22 4ZM22 15V14C22 13.4 21.6 13 21 13H11C10.4 13 10 13.4 10 14V15C10 15.6 10.4 16 11 16H21C21.6 16 22 15.6 22 15ZM18 20V19C18 18.4 17.6 18 17 18H11C10.4 18 10 18.4 10 19V20C10 20.6 10.4 21 11 21H17C17.6 21 18 20.6 18 20Z"
													fill="black" />
												<path
													d="M8 5C8 6.7 6.7 8 5 8C3.3 8 2 6.7 2 5C2 3.3 3.3 2 5 2C6.7 2 8 3.3 8 5ZM5 4C4.4 4 4 4.4 4 5C4 5.6 4.4 6 5 6C5.6 6 6 5.6 6 5C6 4.4 5.6 4 5 4ZM8 16C8 17.7 6.7 19 5 19C3.3 19 2 17.7 2 16C2 14.3 3.3 13 5 13C6.7 13 8 14.3 8 16ZM5 15C4.4 15 4 15.4 4 16C4 16.6 4.4 17 5 17C5.6 17 6 16.6 6 16C6 15.4 5.6 15 5 15Z"
													fill="black" />
											</svg></span>
										<!--end::Svg Icon-->
									</span>
									<span class="menu-title">PESQUISAS RESPONDIDAS</span>
								</a>
							</div>
							<div class="menu-item" id="menu-aside-dashboard">
								<a class="menu-link"
									title="Acesse o dashboard com todos os indicadores obtidos através das pesquisas respondidas pelo cliente."
									data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click"
									data-bs-placement="right">
									<span class="menu-icon">
										<!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen032.svg-->
										<span class="svg-icon svg-icon-muted svg-icon-2"><svg
												xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect x="8" y="9" width="3" height="10" rx="1.5" fill="black" />
												<rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5"
													fill="black" />
												<rect x="18" y="11" width="3" height="8" rx="1.5" fill="black" />
												<rect x="3" y="13" width="3" height="6" rx="1.5" fill="black" />
											</svg></span>
										<!--end::Svg Icon-->
									</span>
									<span class="menu-title">RELATÓRIOS</span>
								</a>
							</div>
							<!--end::Menu-->
						</div>
						<!--end::Aside Menu-->
					</div>
					<!--end::Aside menu-->
				</div>
				<!--end::Aside-->
			</div>

		</div>
		<!--begin::Wrapper-->
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

			<div id="header-menu" class="header align-items-stretch">
				<!--begin::Container-->
				<div class="container-fluid d-flex align-items-stretch justify-content-between">
					<!--begin::Container-->

					<!--begin::Aside mobile toggle-->
					<div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
						<div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
							id="menu-aside-mobile-start">
							<!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
							<span class="svg-icon svg-icon-1">
								<svg id="menu-aside-mobile-icon" xmlns="http://www.w3.org/2000/svg" width="24"
									height="24" viewBox="0 0 24 24" fill="none">
									<path id="menu-aside-mobile-icon2"
										d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
										fill="black" />
									<path opacity="0.3" id="menu-aside-mobile-icon3"
										d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
										fill="black" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
					</div>

					<!--begin::Mobile logo-->
					<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
						<a class="d-lg-none">
							<img alt="Logo" src="/assets/media/logos/favicon.png" class="h-30px" />
						</a>
					</div>
					<!--end::Mobile logo-->


					<div class="d-flex flex-lg-grow-1 align-items-center justify-content-between">

						<div class="flex-shrink-0 text-center">
							<a id="change-product-menu" class="cursor-pointer">
								<i class="fonticon-repeat svg-icon-warning fs-3x"></i>
								<div>Trocar Aplicativo</div>
							</a>
						</div>
						<div class="d-flex flex-shrink-0">
							<!--begin::User menu-->
							<div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
								<div class="d-flex flex-column">
									<div class="fw-bolder d-flex align-items-center justify-content-right fs-5"
										name="name_customer_head"></div>
									<div class="fw-bold text-muted text-hover-primary fs-7"
										name='position_customer_head'>
									</div>
								</div>
								<!--begin::Menu wrapper-->
								<div class="cursor-pointer symbol symbol-30px symbol-md-40px"
									data-kt-menu-trigger="click" data-kt-menu-attach="parent"
									data-kt-menu-placement="bottom-end">
									<img id="menu-user" src="assets/media/avatars/blank.png" alt="user" />
								</div>
								<!--begin::User account menu-->
							</div>
							<div id="sub-menu-user"
								class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px"
								data-kt-menu="true" style="">
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<!--end::Username-->
									<!--end::Menu item-->
									<!--begin::Menu item-->
									<div class="menu-item px-5">
										<a id="submenu-overview" class="menu-link px-5">Meu
											Perfil</a>
									</div>
									<!--end::Menu item-->
									<!--begin::Menu item-->
									<div class="menu-item px-5">
										<a id="submenu-billing" class="menu-link px-5">Pagamentos</a>
									</div>
									<!--end::Menu item-->
									<!--begin::Menu separator-->
									<div class="separator my-2"></div>
									<!--end::Menu separator-->
									<!--begin::Menu item-->
									<div class="menu-item px-5 my-1">
										<a id="submenu-settings" class="menu-link px-5">Configurações</a>
									</div>
									<!--end::Menu item-->
									<!--begin::Menu item-->
									<div id="submenu-logout" class="menu-item px-5">
										<a class="menu-link px-5">Sair</a>
									</div>
								</div>
							</div>
							<!--end::Menu item-->
						</div>
						<!--end::Toolbar wrapper-->
					</div>
				</div>
			</div>

			<div id="spinner-overlay">
				<div class="spinner-border text-danger text-f05742" role="status">
					<span class="visually-hidden">Carregando...</span>
				</div>
			</div>

			<div class="modal fade " id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body">
							<!-- Conteúdo do alerta -->
							<div
								class="alert alert-dismissible d-flex flex-center flex-column py-10 px-10 px-lg-20 mb-10">

								<!--begin::Wrapper-->
								<div class="text-center">
									<!--begin::Title-->
									<h1 id='title-modal-confirm' class="fw-bolder-especial mb-5"></h1>
									<!--end::Title-->

									<!--begin::Separator-->
									<div class="separator separator-dashed border-danger opacity-25 mb-5"></div>
									<!--end::Separator-->

									<!--begin::Content-->
									<div id="text-modal-confirm" class="mb-12 text-dark fs-7 mt-9"></div>
									<!--end::Content-->

									<!--begin::Buttons-->
									<!--begin::Svg Icon | path: assets/media/icons/duotune/abstract/abs012.svg-->
									<div id='icon-modal-confirm'>

									</div>

									{{!-- --}}
									<!--end::Svg Icon-->


									<!--end::Svg Icon-->
									<!--end::Buttons-->
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Alert-->
							<!-- Código HTML do alerta -->
						</div>
					</div>
				</div>
			</div>{{!-- --}}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
			{{!-- <script src="/assets/js/partials/menu-header-aside.js"></script> --}}
			<script src="https://cdn.jsdelivr.net/gh/diegodq/app_clients@master/public/assets/js/partials/menu-header-aside.min.js"></script>
