<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::Page-->
	<div class="page d-flex flex-row flex-column-fluid">
		<!--begin::Wrapper-->
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
			<!--begin::Content-->
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<!--begin::Post-->
				<div class="post d-flex flex-column-fluid" id="kt_post">
					<!--begin::Container-->
					<div id="kt_content_container" class="container-xxl">

						<!--begin::Toolbar-->
						<div class="d-flex flex-wrap flex-stack my-5">
							<!--begin::Heading-->
							<h2 class="fs-2 fw-bold my-2">Escolha a aplicação que deseja acessar:

								<!--end::Heading-->
								<!--begin::Controls-->
						</div>
						<!--end::Toolbar-->
						<!--begin::Row-->
						<div class="row g-6 g-xl-9">

							<!--begin::Col-->
							<div class="col-md-6 col-xl-4">
								<!--begin::Card-->
								<a id="product-nps" class="card border-hover-primary cursor-pointer ">
									<!--begin::Card header-->
									<div class="card-header border-0 pt-9">
										<!--begin::Card Title-->
										<div class="card-title m-0">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px w-50px">
												<img src="assets/media/logos/favicon.png" alt="image" class="p-3" />
											</div>
											<!--end::Avatar-->
										</div>
										<!--end::Car Title-->
										<!--begin::Card toolbar-->
										<div class="card-toolbar">
											<span
												class="badge badge-light-success fw-bolder me-auto px-4 py-3">Disponível</span>
										</div>
										<!--end::Card toolbar-->
									</div>
									<!--end:: Card header-->
									<!--begin:: Card body-->
									<div class="card-body p-9">
										<!--begin::Name-->
										<div class="fs-3 fw-bolder text-dark"> Pesquisa Satisfação - NPS</div>
										<!--end::Name-->
										<!--begin::Description-->
										<p class="text-gray-400 fw-bold fs-5 mb-9">A opinião do seu cliente de
											forma simples!</p>
										<!--end::Description-->
										<!--begin::Info-->
										<div class="mb-5 text-center">
											<!--begin::Due-->
											{{!-- <div class="border border-gray-300 border-dashed rounded py-3 px-4 mb-3 ">
												<div class="fs-6 text-gray-800 fw-bolder text-center">Ativo desde
													Dezembro 2022</div>
												<div class="fw-bold text-gray-400">Licença expira em: Dezembro 2023
												</div>
											</div> --}}
											<!--end::Due-->
										</div>
										<!--end::Info-->
										<!--begin::Progress-->
										<div class="h-4px w-100 bg-light mb-5" data-bs-toggle="tooltip">
											<div class="bg-primary rounded h-4px" role="progressbar" style="width: 100%"
												aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<!--end::Progress-->
										<!--begin::Users-->
										<div class="symbol-group symbol-hover">
											<div class="fs-6 text-gray-800 fw-bolder text-center">Tenha acesso a opinião e dashboard de indicadores sobre o que seu cliente
												pensa sobre seu negócio.
											</div>
										</div>
										<!--end::Users-->
									</div>
									<!--end:: Card body-->
								</a>
								<!--end::Card-->
							</div>
							<!--end::Col-->

							<!--begin::Col-->
							<div class="col-md-6 col-xl-4">
								<!--begin::Card-->
								<span class="card border-hover-primary">
									<!--begin::Card header-->
									<div class="card-header border-0 pt-9">
										<!--begin::Card Title-->
										<div class="card-title m-0">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px w-50px">
												<img src="assets/media/logos/favicon-gray.png" alt="image"
													class="p-3" />
											</div>
											<!--end::Avatar-->
										</div>
										<!--end::Car Title-->
										<!--begin::Card toolbar-->
										<div class="card-toolbar">
											<span
												class="badge badge-light fw-bolder me-auto px-4 py-3">Indisponível</span>
										</div>
										<!--end::Card toolbar-->
									</div>
									<!--end:: Card header-->
									<!--begin:: Card body-->
									<div class="card-body p-9">
										<!--begin::Name-->
										<div class="fs-3 fw-bolder text-dark">Coletor de Dados</div>
										<!--end::Name-->
										<!--begin::Description-->
										<p class="text-gray-400 fw-bold fs-5 mb-9">Suas contagens de
											forma simples!</p>
										<!--end::Description-->
										<!--begin::Info-->
										<div class="mb-5 text-center">
											<!--begin::Due-->
											{{!-- <div class="border border-gray-300 border-dashed rounded py-3 px-4 mb-3 ">
												<div class="fs-6 text-gray-800 fw-bolder text-center">Inativo</div>
												<div class="fw-bold text-gray-400">Licença expira em:
												</div>
											</div> --}}
											<!--end::Due-->
										</div>
										<!--end::Info-->
										<!--begin::Progress-->
										<div class="h-4px w-100 bg-light mb-5" data-bs-toggle="tooltip">
											<div class="bg-secondary rounded h-4px" role="progressbar"
												style="width: 100%" aria-valuenow="50" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<!--end::Progress-->
										<!--begin::Users-->
										<div class="symbol-group symbol-hover">
											<div class="fs-6 text-gray-800 fw-bolder text-center">Não deixe de executar
												as rotinas de contagem por falta de coletor.
											</div>
										</div>
										<!--end::Users-->
									</div>
									<!--end:: Card body-->


								</span>
								<!--end::Card-->
							</div>
							<!--end::Col-->

							<!--begin::Col-->
							<div class="col-md-6 col-xl-4">
								<!--begin::Card-->
								<span class="card border-hover-primary">
									<!--begin::Card header-->
									<div class="card-header border-0 pt-9">
										<!--begin::Card Title-->
										<div class="card-title m-0">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px w-50px">
												<img src="assets/media/logos/favicon-gray.png" alt="image"
													class="p-3" />
											</div>
											<!--end::Avatar-->
										</div>
										<!--end::Car Title-->
										<!--begin::Card toolbar-->
										<div class="card-toolbar">
											<span
												class="badge badge-light fw-bolder me-auto px-4 py-3">Indisponível</span>
										</div>
										<!--end::Card toolbar-->
									</div>
									<!--end:: Card header-->
									<!--begin:: Card body-->
									<div class="card-body p-9">
										<!--begin::Name-->
										<div class="fs-3 fw-bolder text-dark">Gestão de Promotores</div>
										<!--end::Name-->
										<!--begin::Description-->
										<p class="text-gray-400 fw-bold fs-5">Controle as visitas e serviço de
											forma simples!</p>
										<!--end::Description-->
										<!--begin::Info-->
										<div class="text-center">
											<!--begin::Due-->
											{{!-- <div class="border border-gray-300 border-dashed rounded py-3 px-4 mb-3 ">
												<div class="fs-6 text-gray-800 fw-bolder text-center">Inativo</div>
												<div class="fw-bold text-gray-400">Licença expira em:
												</div>
											</div> --}}
											<!--end::Due-->
										</div>
										<!--end::Info-->
										<!--begin::Progress-->
										<div class="h-4px w-100 bg-light mb-5" data-bs-toggle="tooltip">
											<div class="bg-secondary rounded h-4px" role="progressbar"
												style="width: 100%" aria-valuenow="50" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<!--end::Progress-->
										<!--begin::Users-->
										<div class="symbol-group symbol-hover">
											<div class="fs-6 text-gray-800 fw-bolder text-center">Tenha na palma da mão
												se o que foi prometido está sendo cumprido.
											</div>
										</div>
										<!--end::Users-->
									</div>
									<!--end:: Card body-->


								</span>
								<!--end::Card-->
							</div>
							<!--end::Col-->

						</div>
					</div>
					<!--end::Container-->
				</div>
				<!--end::Post-->
			</div>
			<!--end::Content-->

		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>

<div id="spinner-overlay">
	<div class="spinner-border text-danger text-f05742" role="status">
		<span class="visually-hidden">Carregando...</span>
	</div>
</div>
<!--end::Root-->
<!--begin::Drawers-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/welcome/choice-product.js"></script>