{{> menu-header-aside}}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Post-->
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div id="kt_content_container" class="container-xxl mt-6">

			<div class="card">
				<!--begin::Card header-->
				<div class="card-header border-0 pt-6">
					<!--begin::Card title-->
					<h1 class="text-center text-muted fw-bolder mt-5 mb-5 ml-2">Gestão de Pesquisa</h1>
					<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Aqui você gere algumas regras e parâmetros acerca da sua pesquisa como ordem das perguntas, obrigatoriedades e etc.</h3>
					
					<div class="card-body pt-0 mt-5">

					<!-- ESCREVER AQUI !-->

					</div>

				</div>
				<!--end::Card body-->
					
			</div>
			

		</div>
	</div>
</div>

{{> menu-footer}}
<!--end::Content-->

<!--begin::Scrolltop-->
<!--end::Scrolltop-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script src="/assets/js/pesquisaNps/manager-survey.js"></script>