{{> menuHeader}}
{{> asideMenu}}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Post-->

	<div id="anchor_container" class="container-xxl mt-6">
		<div class="card-header border-0 pt-6">
			<!--begin::Card title-->
			<h1 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Definindo Árvore </h1>
			<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Defina a avaliação que será o corte entre a Árvore Positiva
				ou Negativa. </h3>

			<!-- abaixo -->

			<div class="card-body pt-0 mt-12">
				<div class="row align-items-center justify-content-center" id="svg-container">
					<div class="col-lg-2">
						<div class="svg-container">
							<label class="svg-label-green d-none" for="svg-2">POSITIVA</label>
							<label class="svg-label-red d-none" for="svg-2">NEGATIVA</label>
							<img id="svg-1" class="svg-nps cursor-pointer" src="\assets\media\svg\new-nps\very-bad.svg"
								alt="SVG Image">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="svg-container">
							<label class="svg-label-green d-none" for="svg-1">POSITIVA</label>
							<label class="svg-label-red d-none" for="svg-1">NEGATIVA</label>
							<img id="svg-2" class="svg-nps cursor-pointer" src="\assets\media\svg\new-nps\bad.svg"
								alt="SVG Image">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="svg-container">
							<label class="svg-label-green d-none" for="svg-3">POSITIVA</label>
							<label class="svg-label-red d-none" for="svg-3">NEGATIVA</label>
							<img id="svg-3" class="svg-nps cursor-pointer"
								src="\assets\media\svg\new-nps\indifferent.svg" alt="SVG Image">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="svg-container">
							<label class="svg-label-green d-none" for="svg-4">POSITIVA</label>
							<label class="svg-label-red d-none" for="svg-4">NEGATIVA</label>
							<img id="svg-4" class="svg-nps cursor-pointer" src="\assets\media\svg\new-nps\good.svg"
								alt="SVG Image">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="svg-container">
							<label class="svg-label-green d-none" for="svg-5">POSITIVA</label>
							<label class="svg-label-red d-none" for="svg-5">NEGATIVA</label>
							<img id="svg-5" class="svg-nps cursor-pointer" src="\assets\media\svg\new-nps\great.svg"
								alt="SVG Image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div id="config_container" class="container-xxl mt-6">

			<div class="card">

				<!--begin::Card header-->
				<div class="card-header border-0 pt-6">
					<!--begin::Card title-->
					<h1 class="text-muted fw-bolder mt-5 mb-1 ml-2">Configuração de Perguntas</h1>
					<h3 class="text-muted fw-bolder mt-1 mb-1 ml-2">Aqui você gere algumas regras e parâmetros acerca
						das perguntas da sua pesquisa como ordem, obrigatoriedades e etc.</h3>
					<h3 class="text-muted fw-bolder mt-1 mb-5 ml-2">Vai lá, é só arrastar!</h3>
				</div>
				<div class="">
					<!-- ESCREVER AQUI !-->
					<div class="card-ask">
						<!--begin::Accordion-->
						<div class="card-one">
							<div class="accordion" id="positive-questions">
								<h3 class="text-muted text-center fw-bolder mb-5 mt-5 ml-2">Árvore Positiva <svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
										<path
											d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"
											fill="green" />
									</svg>
								</h3>
								<div id="positive-questions-list">
									<div id="positive-questions-list-label"></div>
									<!-- Conteúdo do Accordion Positivo -->
								</div>
							</div>
						</div>
						<!--end::Accordion-->

						<!--begin::Accordion-->
						<div class="card-two">
							<div class="accordion" id="negative-questions">
								<h3 class="text-center text-muted fw-bolder mb-5 mt-5 ml-2">Árvore Negativa <svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
										<path
											d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z"
											fill="red" />
									</svg>
								</h3>
								<div id="negative-questions-list">
									<div id="negative-questions-list-label"></div>
									<!-- Conteúdo do Accordion Negativo -->
								</div>
							</div>
						</div>
						<!--end::Accordion-->
					</div>
				</div>
			</div>
		</div>
		<!--end::Container-->
	</div>
	<!--end::Post-->

	<div id="style_container" class="container-xxl mt-6">
		<div class="card-header border-0 pt-6">
			<!--begin::Card title-->
			<h1 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Estilizar Pesquisa </h1>
			<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Configure suas preferências de cores e personalização da
				sua pesquisa.</h3>

			<div class="card-body pt-0 mt-5">
				<div class="row align-items-center justify-content-center">
					<!--begin::Col-->
					<div class="col-lg-3">
						<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2 text-center"> Sua Marca</h3>
						<h5 class="text-muted fw-bolder mt-5 mb-5 ml-2 text-center"> Aqui coloque sua marca. Ela será
							exibida no cabeçalho da
							pesquisa.</h5>
						<form id="form-brand">
							<!--begin::Image input-->
							<div class="d-flex flex-column image-input image-input-outline align-items-center mt-6">
								<!--begin::Preview existing logo-->
								<div class="image-container">
									<img id="brand-company" class="image-input-wrapper brand-image">
								</div>
								<div class="input-group custom-input-group d-flex justify-content-center mt-6">
									<label for="brand" class="btn btn-primary" id="button-send-logo-brand">
										<i class="bi bi-file-earmark-arrow-up bi-lg"></i>
										Inserir Marca
									</label>
									<button class="btn btn-light btn-active-light-primary justify-content-center hidden"
										id="edit-logo-brand">Editar</button>
								</div>
								<input type="file" id="brand" class="form-control custom-input" style="display: none;">
							</div>
							<div class="form-text mt-2 text-center">Formatos aceitos: png ou jpg até 1 mb</div>
							<div id="error-brand-size" class="text-danger"></div>
						</form>
					</div>

					<div class="col-lg-3 d-flex align-items-center">
						<div class="flex-column">
							<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2 text-center"> Cor de Fundo (Background)</h3>
							<h5 class="text-muted fw-bolder mt-5 mb-5 ml-2 text-center"> Escolha a cor que deseja para o
								fundo da pesquisa.</h5>
							<div class="picker-container">
								<div class="label">COR</div>
								<div id="picker"></div>
								<div class="label">LUMINOSIDADE</div>
							</div>
						</div>
						<div class="flex-row">
							<label class="label">Cor Escolhida:</label>
							<div class="preview-container">
								<div id="colorPreview" class="color-preview"></div>
								<div id="text-area-colorPreview"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 d-flex align-items-center">
						<div class="flex-column">
							<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2 text-center"> Cor da Font (Letras)</h3>
							<h5 class="text-muted fw-bolder mt-5 mb-5 ml-2 text-center"> Escolha a cor que deseja para a
								escrita da pesquisa.</h5>
							<div class="picker-container">
								<div class="label">COR</div>
								<div id="picker2"></div>
								<div class="label">LUMINOSIDADE</div>
							</div>
						</div>
						<div class="flex-row">
							<label class="label">Cor Escolhida:</label>
							<div class="preview-container">
								<div id="colorPreview2" class="color-preview"></div>
								<div id="text-area-colorPreview2"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 d-flex align-items-center">
						<div class="flex-column text-center mx-auto">
							<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2">Obtenha um preview da sua pesquisa.</h3>
							<button id="button-preview-survey" class="btn btn-primary m-3">VER PESQUISA</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="qrCode_container" class="container-xxl mt-6">
		<div class="card-header border-0 pt-6">

			<h1 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Gerenciar QR Code </h1>
			<h3 class="text-muted fw-bolder mt-5 mb-5 ml-2"> Acesse seu QRCode, obtenha o arquivo para criar placa de
				sinalização
				como desejar. </h3>



			<div class="card-body pt-0 mt-5">

				<div class="row align-items-center justify-content-center">

					<div class="col-lg-3 my-2 mt-3">
						<div class="border p-3 text-center">
							<p class="text-muted">PROTEÇÃO DE IP <span
									class="info-icon d-flex align-items-center justify-content-center"
									data-toggle="tooltip" data-placement="top"
									title="Através do IP do dispositivo avaliador, proteger avaliações únicas para o dia. O mesmo dispositivo com o mesmo IP não poderá avaliar mais de uma vez na mesma data. ">
									<i class="bi bi-info-circle m-1"></i>
								</span></p>
							<label class="form-check form-switch form-check-custom activeReg form-check-solid">
								<input id="input-allow-ip" class="form-check-input" type="checkbox" />
							</label>
							<p class="text-muted m-1"><strong>Atenção: </strong> Isto poderá não funcionar corretamente
								caso você ofereça Wi-fi para o seu cliente.</p>
						</div>
					</div>

					<div class="col-lg-8 mt-3" id="qrCode-div">

						<div class="d-flex justify-content-center align-items-center">
							<h3 class="text-muted fw-bolder" for="storeSelect">Selecione a loja:</h3>
							<div class="form-group">

								<div class="d-flex align-items-center">

									<select id="storeSelect" class="custom-select-store m-3">
									</select>

									<div class="btn-group m-2">
										<button type="button" class="btn btn-primary backOrNext" id="backButton">
											<i class="fas fa-chevron-left"></i>
										</button>
										<button type="button" class="btn btn-primary backOrNext" id="nextButton">
											<i class="fas fa-chevron-right"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-center align-items-center flex-wrap">
							<div class="col-lg-3 col-md-6 col-sm-10 mt-3 text-center">
								<div class="border p-3">
									<div id="qr-code-field">
										<!-- Conteúdo -->
									</div>
								</div>
							</div>

							<div class="col-lg-1 col-md-1 col-sm-1 text-center my-2">
								<i class="bi bi-arrow-right fs-4"></i>
							</div>

							<div class="col-lg-3 col-md-5 col-sm-10 my-2">
								<div class="border p-3">
									<p class="text-muted text-center">Este é o seu QR Code, que será usado para seu
										cliente acessar
										sua pesquisa. Basta apontar a câmera do celular e responder.</p>
									<div class="border p-3 m-2 text-center">
										<p class="text-muted">BAIXE SEU QR CODE</p>
										<a id="params-download-qrCode" href="#">
											<button class="btn btn-primary" id="download-qrCode"
												type="button">BAIXAR</button>
										</a>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-5 col-sm-10 my-2 m-2">
								<div class="border">
									<p class="text-muted m-5 text-center">Use nosso modelo! Escolha o tamanho, e leve na
										gráfica rápida o arquivo pronto para imprimir!<span
											class="info-icon d-flex align-items-center justify-content-center"
											data-toggle="tooltip2" data-placement="top"
											title="O cartaz utiliza a pergunta Âncora cadastrada e a logo (sua marca) inserida em sua pesquisa.">
											<i class="bi bi-info-circle m-1"></i>
										</span></p>
									<div class="container mt-5">
										<div class="row">
											<div class="col-md-6">
												<label class="d-block">
													<input type="radio" value="A2" name="optionsFolder" checked>
													<span class="text-muted fw-bolder">A2</span> <span
														class="small d-inline-block text-muted" style="font-size: 10px">
														<p>(420mm x 594mm)</p>
													</span>
												</label>

												<label class="d-block">
													<input type="radio" value="A3" name="optionsFolder">
													<span class="text-muted fw-bolder">A3</span> <span
														class="small d-inline-block text-muted" style="font-size: 10px">
														<p>(297mm x 420mm)</p>
													</span>
												</label>

												<label class="d-block">
													<input type="radio" value="A4" name="optionsFolder">
													<span class="text-muted fw-bolder">A4</span> <span
														class="small d-inline-block text-muted" style="font-size: 10px">
														<p>(210mm x 297mm)</p>
													</span>
												</label>
												
											</div>

											<div class="col-md-6">
												<label class="d-block">
													<input type="radio" value="A5" name="optionsFolder">
													<span class="text-muted fw-bolder">A5</span> <span
														class="small d-inline-block text-muted" style="font-size: 10px">
														<p>(210mm x 148mm)</p>
													</span>
												</label>

												<label class="d-block ">
													<input type="radio" value="BANNER" name="optionsFolder">
													<span class="text-muted fw-bolder">BANNER</span> <span
														class="small d-inline-block text-muted" style="font-size: 10px">
														<p>(1200mm x 800mm)</p>
													</span>
												</label>
											</div>
										</div>
									</div>
									<div class="border p-3 m-2 text-center">
										<p class="text-muted">BAIXAR CARTAZ</p>
										<a id="params-download-qrCode">
											<button class="btn btn-primary" id="download-Folder"
												type="button">BAIXAR</button>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="overlay-container-qrCodeSection" id="spinner-overlay-qrCodeSection">
							<div class="spinner-border text-danger text-f05742" role="status">
								<span class="visually-hidden">Carregando...</span>
							</div>


						</div>



					</div>






				</div>


			</div>

		</div>


	</div>

</div>


{{> menu-footer}}
<!--end::Content-->

<!--begin::Scrolltop-->
<!--end::Scrolltop-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
{{!--
<script
	src="https://cdn.jsdelivr.net/gh/diegodq/app_clients@master/public/assets/js/pesquisaNps/manager-survey.min.js"></script>
--}}
<script src="/assets/js/pesquisaNps/manager-survey.js"></script>